.successfulLaunch,
.failedLaunch {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 2rem;
}

.successfulLaunch {
  background-color: var(--success-color);
}

.failedLaunch {
  background-color: var(--error-color);
}
